.image {
  width: 50px;
  height: auto;
  margin-bottom: 0.5rem;
}

.contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  max-width: 1000px;
}

.contents > div {
  padding: 1rem;
  background-color: #f9f9f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
}


.headings {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.text-gray-400 {
  color: #6b7280;
  font-size: 1rem;
}

.hea {
  color: black;
  font-size: 2.6rem;
  text-align: center;
  margin: 2rem auto 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 4rem;
  text-align: center;
}

.Suscribe_content p {
  color: #26282c;
  font-size: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.input {
  margin: 2rem auto;
  text-align: center;
}

.input_feild {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  max-width: 150px;
  padding: 12px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hea {
    font-size: 2rem;
    margin: 1rem auto;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .Suscribe_content p{
    font-family: Arial, Helvetica, sans-serif;
  }

  .input_feild, .btn {
    width: 80%;
  }
  .image{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .hea {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .headings {
    font-size: .5rem;
  }

  .text-gray-400 {
    font-size: 0.9rem;
  }

 
  .input_feild, .btn {
    width: 90%;
  }
  .Suscribe_content{
    font-size: .5rem;
  }
  
}


