.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.productImage img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.productImage:hover img {
  transform: scale(1.05);
}

.productImage:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productName {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.productPrice {
  font-size: 1.2rem;
  color: #333;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.productItemWrapper {
  flex: 1 1 calc(20% - 2rem);
  box-sizing: border-box;
  margin: 1rem;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .productItemWrapper {
    flex: 1 1 calc(33.33% - 2rem); /* 3 items per row on medium screens */
  }
}

@media (max-width: 768px) {
  .productItemWrapper {
    flex: 1 1 calc(50% - 2rem); /* 2 items per row on small screens */
  }
}

@media (max-width: 480px) {
  .productItemWrapper {
    flex: 1 1 100%; /* 1 item per row on extra small screens */
  }

  .productName,
  .productPrice {
    font-size: 1rem; /* Slightly smaller fonts on mobile */
  }
}
